/* Add here all your CSS customizations */
body{
    color: #333;
}
.header .logo{
    margin: 5px 0 0 5px;
}
.selected{
    background-color:rgb(0 136 204 / 10%) !important;
}

.sidebar-widget .widget-header h6{
    color: #fff;
}